<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Silex Address Book App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h3>You added the following contact to your address book!</h3>
            <p>Name: {{ new_contact.getFirstName }} {{ new_contact.getLastName }}</p>
            <p>Address: {{ new_contact.getAddress }}, {{ new_contact.getCity }} {{ new_contact.getZip }}</p>
            <p>Phone Number: {{ new_contact.getPhoneNumber }}</p>

            <a href="/"><p>Click here to go back and view your address book</p></a>
        </div>
    </body>
</html>
